body{
    padding: 50px;
    transition: background-color 0.5s; 
}

/* java thingsadsasda*/
body button {
    background-color: #b3c8cc; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s; 
}

body button:hover {
    background-color: #c7ced1; 
}
/* end of jabard*/


.container {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar"
    "titlehead titlehead"
    "imagehead paragraphbody"
    "paragraph paragraph"
    "bottomnavbar bottomnavbar" ;
   
}

.navbar {
    grid-area:navbar;
    background-color: #726e6e;
    padding: 20px;
    text-align: center
   
}
.navbar ul {
    list-style-type: none;
    padding: 0;
}
.navbar ul a {
    text-decoration: none;
    margin-right: 15px;
    color: black; 
}
.navbar li{
    display: inline;
    padding: 30px;
    background-color: #d7e6f0;
}
.navbar a:hover{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}


.imagehead {
    grid-area: imagehead;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden; 
}

.imagehead img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0;
    object-fit: cover; 
}

.titlehead {
    grid-area: titlehead;
    background-color: #d7e6f0;
    text-align: center;
   
}

.paragraphbody {
    grid-area: paragraphbody;
    background-color: #73787c;
    padding: 19px;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.paragraph{
    grid-area: paragraph;
    background-color: #d7e6f0;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    

}

.bottomnavbar {
    grid-area: bottomnavbar;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    text-align: center;
    padding: 5px;
}

img {
    width: 100%;
}

